<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.podong.game.module.gamesshot.dao.GameSshotMapper">

    <select id="getGameSshotList" resultType="java.util.HashMap" statementType="PREPARED">
        SELECT B.GAME_ID AS gameId
               , B.GAME_NAME AS gameName
               , B.IMG_URL AS gameSshotImgUrl
               , B.PLATFORM AS platform
               , B.GENRE AS genre
        FROM   GM_GAME_SSHOT A
        INNER
        JOIN   GM_GAME B
        ON     A.GAME_ID = B.GAME_ID
        WHERE  A.USE_YN = 'Y'
        AND    B.USE_YN = 'Y'
        AND    A.GAME_PARENT_SSHOT_ID IS NULL
        <if test='null != platform and "" != platform  '>
            AND B.PLATFORM = #{platform, jdbcType=VARCHAR}
        </if>
        GROUP
        BY     B.GAME_ID
        <if test='null != page'>
            LIMIT 	#{page.pageBegin, jdbcType=NUMERIC}
            , #{page.pageScale, jdbcType=NUMERIC}
        </if>
    </select>
    <select id="getGameSshotCnt" resultType="int" statementType="PREPARED">
        SELECT COUNT(A.GAME_ID)
        FROM (
                SELECT B.GAME_ID
                FROM   GM_GAME_SSHOT A
                INNER
                JOIN   GM_GAME B
                ON     A.GAME_ID = B.GAME_ID
                WHERE  A.USE_YN = 'Y'
                AND    B.USE_YN = 'Y'
                AND    A.GAME_PARENT_SSHOT_ID IS NULL
                <if test='null != platform and "" != platform  '>
                    AND B.PLATFORM = #{platform, jdbcType=VARCHAR}
                </if>
                GROUP BY B.GAME_ID
             ) A
    </select>
    <select id="getDetailSshotList" resultType="java.util.HashMap" statementType="PREPARED">
        SELECT  A.GAME_ID AS gameId
                , A.GAME_SSHOT_IMG_URL AS gameSshotImgUrl
                , A.DESCRIPTION AS description
                , A.GAME_SSHOT_ID AS gameSshotId
        FROM    GM_GAME_SSHOT A
        WHERE   A.USE_YN = 'Y'
        AND     A.GAME_ID = #{gameId, jdbcType=VARCHAR}
        AND     A.GAME_PARENT_SSHOT_ID IS NULL
        <if test='null != page'>
            LIMIT 	#{page.pageBegin, jdbcType=NUMERIC}
            , #{page.pageScale, jdbcType=NUMERIC}
        </if>
    </select>
    <select id="getDetailSshotCnt" resultType="int" statementType="PREPARED">
        SELECT  COUNT(*)
        FROM    GM_GAME_SSHOT A
        WHERE   A.USE_YN = 'Y'
        AND     A.GAME_ID = #{gameId, jdbcType=VARCHAR}
        AND     A.GAME_PARENT_SSHOT_ID IS NULL
    </select>
    <select id="getDetailToList" resultType="java.util.HashMap" statementType="PREPARED">
        WITH RECURSIVE CTE as (
            SELECT 1 AS LEVEL
                   , GAME_SSHOT_ID
                   , GAME_PARENT_SSHOT_ID
                   , GAME_ID
                   , GAME_SSHOT_IMG_URL
                   , DESCRIPTION
            FROM   GM_GAME_SSHOT
            WHERE  GAME_PARENT_SSHOT_ID IS NULL
            AND    USE_YN= 'Y'
            AND    GAME_ID =#{gameId, jdbcType=VARCHAR}
            UNION ALL
            SELECT 1 + LEVEL AS LEVEL
                   , A.GAME_SSHOT_ID
                   , A.GAME_PARENT_SSHOT_ID
                   , A.GAME_ID
                   , A.GAME_SSHOT_IMG_URL
                   , A.DESCRIPTION
            FROM   GM_GAME_SSHOT A
            INNER
            JOIN   CTE B
            ON     A.GAME_PARENT_SSHOT_ID = B.GAME_SSHOT_ID
            WHERE  A.USE_YN= 'Y'
            AND    A.GAME_ID = #{gameId, jdbcType=VARCHAR}
        )
        SELECT LEVEL AS levelNo
               , GAME_SSHOT_ID AS gameSshotId
               , GAME_PARENT_SSHOT_ID AS gameParentSshotId
               , GAME_ID  AS gameId
               , GAME_SSHOT_IMG_URL AS gameSshotImgUrl
               , DESCRIPTION  AS description
        FROM   CTE
    </select>

</mapper>