<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.podong.game.module.game.dao.GameMapper">

    <select id="getGameList" resultType="com.podong.game.module.game.bean.GameVO" statementType="PREPARED">
        SELECT  GAME_ID gameId
                , GAME_NAME gameName
                , IMG_URL  img
                , PLATFORM platform
                , GENRE genre
                , SERVICE_STATUS serviceStatus
        FROM    GM_GAME
        WHERE   USE_YN = 'Y'
        <if test='null != platform and "" != platform  '>
            AND    PLATFORM IN
            <foreach item="item" index="index" collection="platform"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='null != genre and "" != genre  '>
            AND    GENRE = #{genre, jdbcType=VARCHAR}
        </if>
        <if test='null != serviceStatus and "" != serviceStatus  '>
            AND    SERVICE_STATUS = #{serviceStatus, jdbcType=VARCHAR}
        </if>
        <if test='null != keyword and "" != keyword  '>
            AND  GAME_NAME LIKE CONCAT('%',#{keyword},'%')
        </if>
        <if test='null != page'>
            LIMIT 	#{page.pageBegin, jdbcType=NUMERIC}
            , #{page.pageScale, jdbcType=NUMERIC}
        </if>
    </select>
    <select id="getGameCntList" resultType="int" statementType="PREPARED">
        SELECT  COUNT(*)
        FROM    GM_GAME
        WHERE   USE_YN = 'Y'
        <if test='null != platform and "" != platform'>
            AND    PLATFORM IN
            <foreach item="item" index="index" collection="platform"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='null != genre and "" != genre'>
            AND    GENRE = #{genre, jdbcType=VARCHAR}
        </if>
        <if test='null != serviceStatus and "" != serviceStatus'>
            AND    SERVICE_STATUS = #{serviceStatus, jdbcType=VARCHAR}
        </if>
        <if test='null != keyword and "" != keyword  '>
            AND  GAME_NAME LIKE CONCAT('%',#{keyword},'%')
        </if>
    </select>
    <select id="getDetail" resultType="com.podong.game.module.game.bean.GameVO" statementType="PREPARED">
        SELECT  GAME_ID AS gameId
                , GAME_NAME  AS gameName
                , PLATFORM AS platform
                , GENRE AS genre
                , PRODUCER AS producer
                , PROVIDER AS provider
                , USE_COUNT AS useCount
                , YEAR_RELASE AS yearRelase
                , IMG_URL AS img
                , DESCRIPTION AS description
                , COMPANY_CID AS companyCid
        FROM    GM_GAME
        WHERE   USE_YN = 'Y'
        AND     GAME_ID = #{gameId, jdbcType=VARCHAR}
    </select>

</mapper>